spring:
  application:
    name: movies-service
  datasource:
    username: sa
    password:
  jackson:
    default-property-inclusion: non_absent
    serialization:
      fail_on_empty_beans: false
  jpa:
    open-in-view: false

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'
